<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
        {% include "header.html" %}
        <div class="container px-4 px-lg-5">
            <div class="d-flex justify-content-center mb-4">
                <section id="about-me">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-top">
                            <div class="col-lg-5 col-md-12 col-sm-12 col-xxl-4">
                                <div class="p-5">
                                    <img class="img-fluid rounded" src="static/img/me.jfif" alt="Roy">
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-12 col-sm-12 col-xxl-8">
                                <div class="p-5">
                                    <h2 class="display-4">About Me</h2>
                                    <p>I never thought I'd want to pursue a career in Software Development/Engineering as I never thought I was any good at it. 
                                        It wasn't until my job required me to revisit the glory days that I realised that this was the right career for me. I try
                                        to spend as much time as I can working on side projects or learning new technologies as the world moves 
                                        too quickly and there are far too many things that I want to learn. </br></br>I've spent most of my time working with Python, C, JavaScript, CSS and HTML.</p>
                                        <a class="btn btn-outline-secondary" href="{{url_for('about_me')}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </div>
        </div>
        <div class="container px-4 px-lg-5">
            <div class="d-flex justify-content-left mb-4">
                <section id="projects">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-top">
                            <h2 class="display-5">Projects</h2>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xxl-4">
                                <div class="p-5">
                                    <img class="img-fluid rounded" src="static/img/doggo.png" alt="Roy" id="project-photo">
                                    <a class="btn btn-outline-secondary" href="{{url_for('about_me')}}">View Project</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xxl-4">
                                <div class="p-5">
                                    <img class="img-fluid rounded" src="static/img/doggo.png" alt="Roy">
                                    <a class="btn btn-outline-secondary" href="{{url_for('about_me')}}">View Project</a>
                                    <a class="btn btn-outline-secondary" href="{{url_for('about_me')}}">View Project</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xxl-4">
                                <div class="p-5">
                                    <img class="img-fluid rounded" src="static/img/doggo.png" alt="Roy">
                                    <a class="btn btn-outline-secondary" href="{{url_for('about_me')}}">View Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-5 align-items-top">
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xxl-4">
                                <div class="p-5">
                                    <img class="img-fluid rounded" src="static/img/doggo.png" alt="Roy" id="project-photo">
                                    <a class="btn btn-outline-secondary" href="{{url_for('about_me')}}">View Project</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xxl-4">
                                <div class="p-5">
                                    <img class="img-fluid rounded" src="static/img/doggo.png" alt="Roy">
                                    <a class="btn btn-outline-secondary" href="{{url_for('about_me')}}">View Project</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xxl-4">
                                <div class="p-5">
                                    <img class="img-fluid rounded" src="static/img/doggo.png" alt="Roy">
                                    <a class="btn btn-outline-secondary" href="{{url_for('about_me')}}">View Project</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </div>
        </div>
        <div class="container px-4 px-lg-5">
            <div class="d-flex justify-content-left mb-4">
                <section id="skills">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-top">
                            <div class="col-lg-5 col-md-12 col-sm-12 col-xxl-4">
                                <div class="p-5">
                                    <img class="img-fluid rounded" src="static/img/doggo.png" alt="Roy">
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-12 col-sm-12 col-xxl-8">
                                <div class="p-5">
                                    <h2 class="display-4">Skills</h2>
                                    <p>I never thought I'd want to pursue a career in Software Development/Engineering as I never thought I was any good at it. 
                                        It wasn't until my job required me to revisit the glory days that I realised that this was the right career for me. I try
                                        to spend as much time as I can working on side projects or learning new technologies as the world moves 
                                        too quickly and there are far too many things that I want to learn. </br></br>I've spent most of my time working with Python, C, JavaScript, CSS and HTML.</p>
                                        <a class="btn btn-outline-secondary" href="{{url_for('about_me')}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </div>
        </div>
        <div class="container px-4 px-lg-5">
            <div class="d-flex justify-content-left mb-4">
                <section id="education">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-top">
                            <div class="col-lg-7 col-md-12 col-sm-12 col-xxl-8">
                                <div class="p-5">
                                    <h2 class="display-4">Education</h2>
                                    <p>I never thought I'd want to pursue a career in Software Development/Engineering as I never thought I was any good at it. 
                                        It wasn't until my job required me to revisit the glory days that I realised that this was the right career for me. I try
                                        to spend as much time as I can working on side projects or learning new technologies as the world moves 
                                        too quickly and there are far too many things that I want to learn. </br></br>I've spent most of my time working with Python, C, JavaScript, CSS and HTML.</p>
                                        <a class="btn btn-outline-secondary" href="{{url_for('about_me')}}">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12 col-sm-12 col-xxl-4">
                                <div class="p-5">
                                    <img class="img-fluid rounded" src="static/img/doggo.png" alt="Roy">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </div>
        </div>
        <section id="contact">
            <div class="container px-4 px-lg-5">
                <div class="d-flex justify-content-center mb-4">
                    <div class="floating-contact-form">
                        <div class="form-container">
                            <div class="row">
                                <h3>Contact Me</h3>
                            </div>
                            <div class="row gx-5 align-items-top">
                                <div id="successMessage" style="display: none;">Message sent successfully!</div>
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xxl-4">
                                    <form action = "/" id="contactForm" method = "post">
                                        <div class="form-floating">
                                            <input class="form-control" id="name" type="name" placeholder="Enter your name..." name="name"/>
                                            <label for="name"><i class="fa-solid fa-signature"></i> Name </label>
                                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                        </div>
                                        <div class="form-floating">
                                            <input class="form-control" id="email" type="email" placeholder="Enter your email..." name="email"/>
                                            <label for="email"><i class="fa-regular fa-envelope"></i> Email</label>
                                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                        </div>
                                        <div class="form-floating">
                                            <input class="form-control" id="phone" type="tel" placeholder="Enter your phone number..." name="phone"/>
                                            <label for="phone"><i class="fa-solid fa-mobile-screen-button"></i> Phone</label>
                                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 col-sm-12 col-xxl-4">
                                        <div class="form-floating" id="message-box">
                                            <textarea class="form-control" id="message" name="message" placeholder="Enter your message here..." style="height: 13.5rem"></textarea>
                                            <label for="message"> <i class="fa-solid fa-pen-to-square"></i> Message</label>
                                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <button class="btn btn-dark text-uppercase" id="submitButton" type="submit">Send</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        {% include "footer.html" %}
    </body>
</html>